
\.idea/

out/production/untitled/ObjectBasic/Task2/Clock\.class

out/production/untitled/ObjectBasic/Task3/Dogs\.class

out/production/untitled/ObjectBasic/Task3/DogsDemo\$1\.class

out/production/untitled/ObjectBasic/Task3/DogsDemo\.class

out/production/untitled/Practic3/Task1/Circle\.class

out/production/untitled/Practic3/Task1/Cylinder\.class

out/production/untitled/Practic3/Task1/FigureDemo\.class
