
\.idea/

out/production/untitled/ObjectBasic/Task2/Clock\.class

out/production/untitled/ObjectBasic/Task3/Dogs\.class

out/production/untitled/ObjectBasic/Task3/DogsDemo\$1\.class

out/production/untitled/ObjectBasic/Task3/DogsDemo\.class
